[2020-02-25 05:54] halflearned opened #3 "policy_tree crashes when depth=0"
Minimal example:
[code]

Version: master (Feb 24, 2020).

[2020-02-25 23:42] #3 closed, assigned to nobody

[2020-03-06 03:57] kanodiaayush opened #8 "Correct Pruning for k >= 2"
https://github.com/grf-labs/policytree/blob/master/src/tree_search.cpp#L334

At this point, pruning should be incorrect since we treat the non pruned optimal nodes differently from the pruned, and in the case that the pruned node is more optimal than two non pruned nodes it splits into, we will report the non pruned always.

[2020-03-07 03:06] #8 closed, assigned to kanodiaayush

[2020-03-07 08:51] kanodiaayush opened #12 "Fix test case for approximate tree search"
" tree search with approximate splitting works as expected ": fix this test case as it fails sometimes.

[2020-03-07 16:36] erikcs commented on #12
Can you say which test fails?

[2020-03-10 18:28] kanodiaayush commented on #12
The test as cited above ("tree search with approximate splitting works as expected")..

[2020-03-10 18:37] erikcs commented on #12
That [test](https://github.com/grf-labs/policytree/blob/master/tests/testthat/test_policy_tree.R#L270) has [8](https://github.com/grf-labs/policytree/blob/master/tests/testthat/test_policy_tree.R#L290) checks, are you saying all 8 checks always fail?

[2020-03-10 18:41] kanodiaayush commented on #12
oh; within that.

`expect_true(reward.skip2 > 1.5 * reward.colmax)`

This fails probabilistically. It passed with my current set of changes which are only aesthetically different from the last. Maybe we could hardcode the seed so that it does not fail probabilistically (at least on machines with Linux?).

 Does this show up as 8 tests or 1 test in the testing console (for my information)?

[2020-03-10 18:52] erikcs commented on #12
It should show up as failed: "tree search with approximate splitting works as expected" then show which checks within that failed.

How about just changing it to `expect_true(reward.skip2 > reward.colmax)` which is just a loose check that it is not doing anything terrible (the behavior tested should be robust enough that it holds regardless of seed)

[2020-03-10 19:38] kanodiaayush commented on #12
We can do that. I'll make this fix and push a PR.
Ayush Kanodia,

PhD Student,
Stanford Computer Science

On Tue, Mar 10, 2020 at 11:52 AM Erik Sverdrup <notifications@github.com>
wrote:

[2020-03-11 01:57] #12 closed, assigned to kanodiaayush, erikcs

[2020-03-20 19:35] erikcs opened #17 "Streamline future CRAN submissions"
* There should be a separate test file under `tests/testthat` that is only included for CRAN releases

* CRAN requires R CMD check to be run with the additional flag `--run-donttest`. This check should be done on travis as well (see #16)

[2020-03-21 02:47] #17 closed, assigned to nobody

[2020-04-20 04:40] halflearned opened #21 "Function double_robust_scores fails depending on treatment values"
Homepage example, switching `W` values from `A,B,C` to `0, 1000, 2000`.

[code]

Interestingly:
+  Using a factor `W` instead of character doesn't help.
+  Switching `W` values from `A,B,C` to `0, 1, 2` is fine.

[2020-04-20 17:40] #21 closed, assigned to nobody

[2020-06-06 22:09] nhejazi opened #30 "[JOSS] Statement of Need"
The JOSS review requires "Do the authors clearly state what problems the software is designed to solve and who the target audience is?" This is not currently addressed in the introductory section of the `README`. I'd recommend resolving this by simply copying a (possibly amended) bit from the JOSS paper into the `README` (an example of convenience, in my own packages I use sections like https://gi

[2020-06-06 22:16] nhejazi opened #31 "[JOSS] Community Guidelines"
The JOSS review requires "Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support." The current contributions section (https://github.com/grf-labs/policytree#contributing) appears to be insufficient for this purpose. The currently included _issue template_ is a good start but there directions for contribut

[2020-06-21 13:58] #30 closed, assigned to nobody

[2020-06-21 14:02] #31 closed, assigned to nobody

[2020-07-23 17:17] JunhaoWang opened #46 "policy_tree() can't scale to my data size but multi_causal_forest() can scale, can I just use argmax of multi-action treatment effect estimation as a good policy ?"
policy_tree() can't scale to my data size (100000 obs, 200 dimensional state/covariate, 20 actions) but multi_causal_forest() can scale, can I just use argmax of multi-action treatment effect estimation as a good policy, instead of searching exhaustively through tree functions from state to produce actions?

[2020-07-24 15:33] erikcs commented on #46
There is a note on scaling in the online documentation here:

[2020-07-24 15:43] erikcs commented on #46
There is a note on scaling in the online documentation here:

https://grf-labs.github.io/policytree/articles/policytree.html#gauging-the-runtime-of-tree-search

As you see the cardinality of the the Xj's is important, and you can speed things up by trying to increase `split.step` (in effect rounding the Xj's).

But n=100k and p=200 will not take an agreeable amount of time. You can try to reduce t

[2020-08-01 01:03] erikcs opened #48 "Replace regression_forest with probability_forest"
for propensity score estimation in `multi_causal_forest`. We can make this change when the grf CRAN version includes https://github.com/grf-labs/grf/issues/708

[2020-09-01 03:33] erikcs opened #49 "Compute double robust scores through grf"
After https://github.com/grf-labs/grf/pull/723 is available in GRF we can call into `grf` for score calculation.

[2020-09-03 18:02] erikcs commented on #46
For practical reference, here is a short table of empirical run times for `policy_tree` (version 1.0).

| depth | n (continuous) | features | actions | split.step | time    |
|-------|----------------|----------|---------|------------|---------|
| 2     | 1000           | 30       | 20      | 1          | 1.5 min |
| 2     | 1000           | 30       | 20      | 10         | 7 sec   |
| 2     | 10

[2020-10-21 06:14] MCKnaus opened #55 "Dummy variables ignored for split.step > 1"
I realized that dummy policy variables are ignored when policy_tree is specified with split.step > 1. This makes of course sense when having a closer look at the algorithm, but it is an unfortunate feature for practitioners that might not be aware of this. I solve it currently brute force by rounding the continuous variables and proceed with split.step = 1.

[2020-10-21 06:15] MCKnaus opened #56 "Exporting graphs"
I couldn’t figure out a smart way to export the graphs of the plot function to .pdf or other formats that would allow to include them in high quality into a paper. Is there a standard way? If yes, it would be nice to include it in the example of plot.policy_tree.

[2020-10-21 06:19] MCKnaus opened #57 "Final leaf labels"
An option to replace the “leaf note = …” in the plot.policy_tree output by a user-specified label of the treatment would be nice. Especially with multiple treatments it might be hard to keep track of the mapping of numbers to treatments.

[2020-10-21 06:22] MCKnaus opened #58 "Stop policy_tree in R"
I found it impossible to stop a running policy_tree without crashing R. You could consider to call Rcpp::checkUserInterrupt() from time to time in the C++ functions or something related.

[2020-10-21 16:51] swager commented on #55
I agree that the current definition of `split.step` doesn't work when there's a mix of continuous and discrete data. For reference, the current definition is:

[code]

We should probably change it so that `split.step` simply skips observations, as opposed to observations with _distinct_ values.

[2020-10-21 20:19] #56 closed, assigned to nobody

[2020-10-21 20:25] erikcs commented on #56
Thanks, #59 adds a docstring note on exporting plots to SVG

[2020-10-21 21:20] #57 closed, assigned to nobody

[2020-10-21 21:21] erikcs commented on #57
Thanks, #60 adds an optional `leaf.labels` argument to `plot`

[2020-10-22 00:35] erikcs commented on #58
Rcpp::checkUserInterrupt() was not added since the solver was supposed to be language agnostic, but we can add it with #ifdef's for R at compile time if there is interest.

If running R from the console it is easy to detach from the process with CTRL+Z then terminate it.

[2020-10-22 00:41] erikcs commented on #55
Manually rounding the Xj's (1..p) provides more control and can circumvent this. To accommodate `split.step` use for mixed continuous and discrete Xj's we can just have `split.step` be a length p array with split step for each Xj.

[2020-10-22 01:14] swager commented on #55
I agree that manually rounding seems very natural and interpretable. Maybe we should emphasize that more in the documentation?

I'm not sold on the idea of having different `split.step` arguments for different variables, though. It's just too complicated and potentially confusing.

In hindsight, having `split.step` depend on the number of _unique_ observations (as opposed to the number of observat

[2020-10-22 05:08] kanodiaayush commented on #55
Intuitively, it does feel like simply skipping observations is the way to go. We might want to scale the number of points we skip as a function of the data size to keep things fast.

Skipping unique points is also legitimate I think in the case that the user specifies the skip step as a function of the number of unique points; if they keep skip step instead constant (which I think is the general c

[2020-10-27 21:57] erikcs opened #61 "Consider replacing `testthat` with `tinytest`"
[tinytest](https://github.com/markvanderloo/tinytest) is a zero-dependency test suite alternative to the dependency heavy tidyverse package `testthat`.

[2020-12-07 22:39] erikcs commented on #49
Let's instead stick to policytree's Gamma = `double_robust_scores`, it is more consistent with https://arxiv.org/pdf/1810.04778.pdf:

<img width="483" alt="Screen Shot 2020-12-07 at 14 38 08" src="https://user-images.githubusercontent.com/7185264/101413843-da62ec80-3899-11eb-935b-f94c3af5a125.png">

as opposed to grf's`get_scores` which is for a treatment contrast.

[2020-12-07 22:39] #49 closed, assigned to erikcs

[2020-12-07 22:45] erikcs opened #67 "Deprecate one vs all `multi_causal_forest` in favor of new GRF estimator"
Once GRF 2.0 has been released, `policytree` should use the new multivariate causal forest instead.

* `multi_causal_forest` should still work but dispatch to GRF's `multi_arm_causal_forest`, with a warning.
* add note to the MAPL replication code in experiments that it was run with policytree version 1.0 and grf 1.1.
* update the `double_robust_scores` function (and remove old ones)
* update READ

[2020-12-07 22:46] erikcs commented on #48
Closing this as `multi_causal_forest` is going to be deprecated in favor of the multi treatment causal forest implementation in GRF (#67).

[2020-12-07 22:46] #48 closed, assigned to erikcs

[2020-12-24 23:10] erikcs commented on #61
Holding on a bit on this since RStudio is tightly integrated with testthat and RStudio shortcuts is convenient to have.

[2021-01-11 18:23] erikcs commented on #55
Thanks for reporting @MCKnaus, this is now fixed in #73

[2021-01-20 16:20] erikcs commented on #55
Just keeping this open for visibility since it will be a while until the next CRAN release

[2021-01-22 20:40] if-sudo opened #75 "Question: would double_robust_scores() and grf::instrumental_forest() work if one has continuous or multiple instruments"
Would double_robust_scores() and grf::instrumental_forest() work if one has continuous or multiple instruments for policy learning?

[2021-01-22 23:54] erikcs commented on #75
Hi @if-sudo, sorry, double_robust_scores is only implemented for binary instruments (fyi: https://github.com/grf-labs/grf/issues/756). And GRF's instrumental_forest does currently not support multiple instruments.

[2021-01-23 18:47] #75 closed, assigned to nobody

[2021-01-23 18:47] if-sudo commented on #75
Thanks!

[2021-01-26 05:22] erikcs commented on #67
Just adding a memory scaling note for future reference: with k arms the one vs. all approach scales linearly in k, `O(k*c)` where c is the memory footprint of one forest forest. grf's multi arm forest (https://github.com/grf-labs/grf/pull/748) scales worse since we need to store sufficient statistics in each tree node to run a multivariate kernel-weighted regression - the worst case storage is `O(

[2021-02-02 19:29] austindenteh commented on #67
I understand from this issue that `multi_causal_forest` would be deprecated soon. In the meantime, I had a quick question. Do we know whether `sample.weights` option in `multi_causal_forest` behaves as expected? Thanks for your time!

[2021-02-03 07:16] erikcs commented on #67
Hi @austindenteh, yes, but because of the "one vs all" approach the sample weights may interact differently for each treatment (https://grf-labs.github.io/policytree/articles/policytree.html#multi-causal-forest-treatment-estimates-and-baselines). It may be worth waiting for GRF 2.0 or trying out the "multi_arm" causal forest in the GRF development version instead: https://grf-labs.github.io/grf/re

[2021-02-03 13:35] austindenteh commented on #67
Hi @erikcs, this is a very helpful response and will follow suggestions! Thanks for your time.

[2021-03-07 07:26] erikcs opened #81 "Add `repopulate_leaves` functionality"
All the theory references for policytree are for adaptive trees, but some users may want to construct "honest" trees by fitting in one sample, then repopulating with the argmax in a new sample, like `tree.new <- repopulate_leaves(tree.old. X, Y)`. This is fairly straight forward to implement in R (predict region with `type="node.id"`, select argmax, then replace action ids in the internal tree dat

[2021-03-10 16:48] erikcs commented on #55
(Fix included in the 1.0.4 CRAN release)

[2021-03-10 16:48] #55 closed, assigned to nobody

[2021-03-16 22:46] ZhiyLiu opened #85 "Policy tree deeper than 3"
Hi,
Did anyone succeed to fit a policy tree of 4 levels depth.

[2021-03-18 00:40] erikcs commented on #85
Hi @ZhiyLiu, policytree is mainly intended for building shallow trees on moderately sized data. Depth 4 is something that would only be computationally feasible on small data, or data with very low cardinality, like all binary Xj's, the exact runtime is here: https://grf-labs.github.io/policytree/reference/policy_tree.html#details

[2021-04-21 13:59] hhsievertsen opened #87 "Measure of optimal policy "stability""
Hi team,

thank you for developing this tool. It is super useful.

I noticed in my setting that the optimal policy changes slightly as I change the fraction of the sample I use to find the optimal policy and if change my see. It is of course not surprising that things change if we have different data points, but is there any way of assessing how "stable" an optimal policy is?

I didn't see any dis

[2021-04-22 02:14] erikcs commented on #87
Hi @hhsievertsen, if you look at Figure 2 in https://arxiv.org/pdf/1702.02896v5.pdf (earlier draft of that paper) @susanathey and @swager do a simple stability exercise there.

[2021-04-22 13:55] hhsievertsen commented on #87
Thanks @erikcs!

[2021-04-25 10:14] #87 closed, assigned to nobody

[2021-06-03 14:01] hhsievertsen opened #93 "Constrained optimal policy"
Hi team,

thanks again for developing these tools and being so responsive. Is there an easy way to find an optimal policy that is constrained to treating at most N individuals (i.e. I have a fixed budget)?

thanks,
Hans

[2021-06-03 20:39] erikcs commented on #93
Hi @hhsievertsen, policytree only does unconstrained search at the moment.

You can however shift the objective function by the average cost of treatment C by subtracting it from the doubly robust scores, see section 5.1 in https://arxiv.org/pdf/1702.02896.pdf for an example (the replication code is [here](https://github.com/grf-labs/policytree/blob/master/experiments/athey_wager_2021/gain_analysi

[2021-06-04 18:27] hhsievertsen commented on #93
Hi @erikcs,
perfect. That works.
Thank you!

[2021-06-04 18:27] #93 closed, assigned to nobody

[2021-06-08 23:13] erikcs opened #94 "Add a greedy/hybrid tree search option"
Policy learning with exact search is only feasible on "medium" sized data. For users who want to use this package on datasets of arbitrary size we should offer a greedy option.

We should also consider automatically dispatching to this greedy solver when |X| passes some threshold, such that first-time users don't unintentionally hit an estimated runtime of 100 hrs+.

[2021-06-08 23:34] erikcs opened #95 "Improve the documentation around runtime"
For the next release we should spell out more of computational details behind exact search. We should communicate the following better:

a) exact search is only feasible (and intended) for "moderately" (to be defined) sized data
b) exact search is intended for shallow (i.e. interpretable) trees (depth = 2 or 3 max)
c) spell out more what the amortized run time means in practice. We have a table in

[2021-06-08 23:51] erikcs commented on #94
What do you @kanodiaayush and @swager think of the following API  `tree_search(X, Y, solver = c("auto", "exact", "greedy")` where `auto` means we dispatch to greedy search when the input dimensions would lead to a problem that takes days to compute (can determine exact threshold based some experiments)

With some flexibility I guess we can consider this a "backwards" compatible release (i.e v2.0 n

[2021-06-09 01:15] susanathey commented on #94
I think that we'd like to give the user some more control, but help guide them through how to use it with some further documentation and specific examples.  A fully greedy algorithm would be nice because in order to apply, say, rpart to policy learning, there are several steps and people find it hard to code/easy to make a mistake.  However, there would be even more value added to have something b

[2021-06-09 04:19] erikcs commented on #94
Ideally a user should  be ready for most scenarios by reading the through a succinct `@example` docstring (some improvements in #95). For whichever solver alternative everyone decides on, fully greedy or hybrid, the intention was that `policy_tree` would elicit a useful warning when "auto" switched from the default ("exact") to the alternative (sorry, this wasn't clear above). The `@example` docst

[2021-06-15 05:00] #95 closed, assigned to nobody

[2021-06-21 23:36] kanodiaayush commented on #94
I think the docstring and helper functions support the same goal but not sure which is better aesthetically.

WRT what is a good intermediate algorithm. Hmmmmm..... I am not sure I can think up one immediately.

I have ideas but this might need a literature review. @erikcs do you have any intermediate solutions in mind? Also what specific algorithm do you mean by greedy?

[2021-06-21 23:48] kanodiaayush commented on #94
we already have a 'look every so often' option - in my understanding scaling that is going to be the best as it scales smoothly and feels like it will have smooth performance degradation.

Also to Erik's point, would be very useful to understand the specific situation that we are trying to fix.

[2021-06-21 23:58] susanathey commented on #94
Basic problem trying to fix--users give up because they cannot compute a depth 3 or 4 tree.  Use cases encountered in the lab include tens of thousands to millions of observations, but weak treatment effect heterogeneity, with dozens of covariates.  We might coach people to use fewer covariates, but reducing the sample size is not a great idea with weak signal. They may need depth of 3-5 in order

[2021-06-22 00:30] kanodiaayush commented on #94
Perfect. I independently came up with the exact same algorithm in my head too! this also does allow for smooth scaling exactly as in by subbing 3 for 2.

Thanks!

@erikcs lets talk about how to do this

[2021-06-22 00:33] kanodiaayush commented on #94
@susanathey have you seen this idea in some paper which has theoretical performance analysis of this vis a vis the full algorithm since you described it? Perhaps an equivalent for Classification or Regression Trees?

[2021-06-22 00:36] susanathey commented on #94
CART is fully greedy (doesn't look ahead to future splits) so the hybrid approach is a direct improvement over it

[2021-06-22 00:58] erikcs commented on #94
Sounds good! Just to set expectations on runtime here, say we reduce the "deep" L depth tree to several globally optimal k-depth trees (k < L): k=2 will already hit a long runtime way before a milllion observations, we have a short point of reference table here:

https://github.com/grf-labs/policytree/issues/46#issuecomment-686658293

but, combined with careful `split.step` use and rounding/relabe

[2021-06-22 01:38] kanodiaayush commented on #94
got it @susanathey just to be clear, in extension to depth 3, the method i have in mind is you always prune except at the root split, but the tree depth you go to to create the root split is variable. another method might be to prune the lower most level only.

[2021-06-22 17:32] susanathey commented on #94
I would say a routine should "globally" search to level k and "prune" to level k'<k, these can each be user-specified parameters.

[2021-06-22 17:38] susanathey commented on #94
With appropriate split.step or rounding, there is no reason that having millions of observations *needs* to be problem.  If # observations was a problem even after the other optimizations, we could additionally sample.  For example couldn't we downsample but then draw in more observations if considered leaves don't have enough data.  There are simpler options too; we could use a smaller dataset to

[2021-06-23 22:12] #67 closed, assigned to nobody

[2021-06-24 01:57] kanodiaayush commented on #94
noted; how should we aim to do this? it feels like this is sufficient to think of in terms of an improvement paper? Or is this just code optimization?

Regards,

[2021-06-24 02:32] susanathey commented on #94
I think this can be code optimization for now--I think Erik should be able to implement it pretty quickly

[2021-06-24 07:03] erikcs commented on #94
Ayush I can come over to your place one day and we can have a go at it.

[2021-06-24 07:04] kanodiaayush commented on #94
Yes that sounds good!

[2021-07-06 16:50] hhsievertsen opened #103 "Optimal policy based on a subset of variables leads to greater benefit"
Hi team,

I feel like I've used my quote of questions. But anyways, I will try it again. I have an example where the benefit of an optimal policy based on K variables is smaller than the benefit of K-1 variables. I am probably missing a major point, but here is what I do:

[code]

I then calculate the advantage of each policy as

[code]

What confuses me is that in my case benefit_full<benefit_red

[2021-07-06 22:42] erikcs commented on #103
Hi @hhsievertsen, no worries, questions help us improve the package. In your example, `Gamma.dr` is a vector of held-out rewards not used for tree fitting, right? In that case you might observe the reward being both larger, or smaller, as it can go both ways on a test set.

[2021-07-07 08:10] hhsievertsen commented on #103
Thanks @erikcs, in this case I used the same sample for both testing and training. That is why I thought that "mechanically" it had to be that benefit_full>=benefit_reduced.

 However, submitting the question here apparently works like pressing the submit button when submitting a paper. I discovered a mistake in my R script and now results are in line with expectations. Apologies,

 Hans

[2021-07-07 08:20] #103 closed, assigned to nobody

[2021-07-20 21:56] erikcs opened #117 "Add `double_robust_scores` invariance test"
See https://github.com/grf-labs/grf/issues/1020.  (also: add some extended characterization tests)

[2021-08-12 16:45] erikcs commented on #94
A simple R implementation of `hybrid_policy_tree` is here: https://github.com/grf-labs/policytree/pull/118

(@kanodiaayush also started a more general C++ version in https://github.com/grf-labs/policytree/tree/hybrid_search, I am fine with the R version for now as it makes zero changes to the existing package)

[2021-08-12 22:02] erikcs commented on #85
@ZhiyLiu the new feature branch #118 has a method to build deeper (i.e depth >= 3) trees by performing "locally" optimal `search.depth` splits.

[2021-08-14 04:48] erikcs commented on #94
The suggested approach in #118 is simple to define and implement, and it does not involve "pruning". Compared with the two other ways of building a depth 3 tree using exact depth 2 search, which both involves "pruning", it does better:

[Alternative 1](https://gist.github.com/erikcs/e5cb80f657d960df4d3279efa2291d0d): on avg. #118 gives ~ 30% higher reward

[Alternative 2](https://gist.github.com/e

[2021-08-25 02:31] #94 closed, assigned to erikcs

[2021-11-18 01:50] njawadekar opened #124 "Recommended heuristic for integrating "policy tree" with "honest causal forest""
The below post is more of a methodological question than a technical one.

Based on what I've gathered, the _honest causal forest_ and _policy tree_ are two distinct yet related methods. Both can evidently yield actionable insights on the effects of treatment within a heterogeneous population. However,
- The _honest causal forest_ can estimate conditional average treatment effects across non-presp

[2021-11-18 22:24] erikcs commented on #124
Hi @njawadekar

Yes, that's a perfectly fine heuristic and is suggested here https://github.com/grf-labs/policytree/issues/46 in order to make a setting with many covariates feasible for policy_tree.

Our research group (@halflearned) has been working on an online tutorial for ML-based HTE estimation, you might find the section on policy learning useful: https://bookdown.org/stanfordgsbsilab/tutor

[2021-11-26 04:59] erikcs commented on #124
Also, if you're looking for a real-world empirical application, @hhsievertsen has a paper using causal forest + policy tree here https://github.com/hhsievertsen/hhsievertsen.github.io/raw/master/mat/wp/chx_sep2021.pdf

[2022-03-18 02:10] #117 closed, assigned to erikcs

[2022-08-24 18:34] jkortner opened #138 "DR scores outside of 0-1 for binary outcomes"
Thank you for the package! I'm trying to estimate double robust scores for a binary outcome variable. However, when using double_robust_scores(), I get gamma values outside of 0-1. I can reproduce this with the example in the package but a binary outcome variable.

[code]

[2022-08-27 20:59] swager commented on #138
That's right; the DR scores used with AIPW are not bounded within the range of the Y. This is simply a consequence of how DR scores are obtained; and doing something direct like thresholding DR scores into the range of the data might actually bias the algorithm.

There are other alternatives to AIPW that avoid this unboundedness issue; see, e.g., the following. However, that's not what's implement

[2022-09-28 03:25] njawadekar opened #139 "Can policy_tree handle missing values in covariate space (X)?"
I am using policytree, version 1.2.0, and I am specifically trying to implement policy learning on the doubly robust reward estimates derived from an honest causal forest (GRF package). While I believe that the GRF package can handle missing covariates (X), see info at [link here](https://grf-labs.github.io/grf/REFERENCE.html#missing-values), it appears that policy_tree cannot handle missing value

[2022-09-28 05:36] erikcs commented on #139
Hi @njawadekar,
Sorry, policy_tree currently does not support missing X's. You could fit it using the non-missing units.
[code]

[2022-09-28 18:20] njawadekar opened #141 "Best practices on size of random training subset for policytree"
I notice much variation in the variables that are selected by the policytree, depending on the size of the random training subset that is specified, in this step:
#### Fit a depth 2 tree on a random training subset.
`n <- 250`
`train <- sample(1:n, 200)`

`opt.tree <- policy_tree(X[train, ], Gamma.matrix[train, ], depth = 2)`
`opt.tree`

Are there recommended best practices regarding the size (or

[2022-09-29 23:54] erikcs commented on #141
There's no universal guideline, a 50/50 train/test split is just a reasonable default. And for different splits, that's normal considering trees are discontinuous. Ideally, if there is signal, the estimated rewards are similar even though the splits are different: there may be many trees that give a reasonable policy, it's not necessarily unique. [Here](https://bookdown.org/stanfordgsbsilab/ml-ci-

[2022-10-15 05:35] njawadekar opened #142 "Evaluating a policy tree in an observational setting"
In [this tutorial](https://bookdown.org/halflearned/tutorial/pl1.html#using-policytree), it is described how one can evaluate a policy tree which is generated in an _experimental_ setting:
`# Only valid for experimental setting!`
`# predicting pi(X[i]) for each value in the test set`
`# policytree labels each treatment as 1,2,3... Here, we subtract one so that zero represents control, as we're use

[2022-10-16 22:17] erikcs commented on #142
1) https://bookdown.org/halflearned/tutorial/pe1.html#evaluating-policies-in-observational-settings
2) You could estimate policy on different folds as in section 5.1 in https://arxiv.org/pdf/1702.02896.pdf

[2022-10-20 06:51] njawadekar commented on #142
Thanks, I can try to implement policy tree using k-fold validation. But if I have 10 folds (and therefore, 10 different policy trees), how do you suggest I evaluate this "policy"? Would it make sense for me to evaluate each policy on the holdout set 10 different times, and then take the average performance across all 10?

[2022-10-20 07:12] njawadekar commented on #142
I was also wondering if I could please get some clarification regarding the policy tree example provided here: https://bookdown.org/halflearned/tutorial/pl1.html#using-policytree

It seems to me there is something off with this code where you are trying to assess what the expected prevalence of the outcome would be if the policy rule were implemented:
`# Copied and pasted from Policy Evaluation se

[2022-10-28 19:02] beniaminogreen opened #146 "Suggestion: keep track of utility of assigning all units each treatment outside of "level_one_learning""
Hi All,

Thanks for writing such a fantastic and well-documented package.

I've been working using the package the past few weeks, and I think I might have come across a potential speed improvement which could let users build even deeper trees than before.

Specifically, instead of creating an NxPxD array of cumulative treatment effects in the `level_one_learning function`, couldn't the algorithm

[2022-10-29 01:17] erikcs commented on #146
Hi @beniaminogreen, thanks a lot, this looks very cool and interesting! I don't have time to look closely until a bit later next month, but in the meantime, could I please ask if you get the same result [here](https://github.com/grf-labs/policytree/blob/master/experiments/zhou_athey_wager_2018/check_replication_mapl_v1.1.R) if you plug in `parallel_policy_tree`?

[2022-10-30 06:16] kanodiaayush commented on #146
Hi @beniaminogreen, thanks for looking into this; your addition seems very promising. In addition to what @erikcs requests above, could you also add
1. a comparison with your rust implementation on only one core
2. explain in pseudocode your approach; I am unable to understand it right now, for the question of the utility tracking.
wrt the trees, we do add/delete in the main loop; so I do not unde

[2022-10-30 23:10] beniaminogreen commented on #146
Hi @erikcs and @kanodiaayush, thanks for getting back to me so quickly!

Please find below a screenshot of the tests @erikcs asked me to run. Not sure how to read these statistics, but the outputs look similar to the ones in the script you sent.

![image](https://user-images.githubusercontent.com/50080644/198905235-2637024f-9c02-42b9-82e4-64e3b4103f4c.png)

I should also add that I have been unit-

[2022-10-31 13:36] erikcs commented on #146
Thanks Ben, that looks great. This is very impressive work. I’m trying to understand where the gains are coming from, could you please run that benchmark plot for dense Xj, ie, line11: X = matrix(rnorm(n*p), n, p)?

[2022-10-31 14:34] beniaminogreen commented on #146
Sure thing! Here it is. I tried to optimize performance for discrete / binned features as I think that's the modal case, but it looks like it performs very well even in the case of completely continuous features.

![image](https://user-images.githubusercontent.com/50080644/199033144-9922fb79-a140-4630-a54d-fb298d00544a.png)

[2022-10-31 16:44] erikcs commented on #146
Sorry for getting you to run this, but I only have my phone at the moment. Could you please run that same script but overlay a 3rd line with runtime for just a depth 0 policytree? Thanks !

[2022-10-31 17:23] beniaminogreen commented on #146
Sure, here it is:

![image](https://user-images.githubusercontent.com/50080644/199067033-33b6ebee-325a-485a-8040-65ef3dba0a8d.png)

This isn't what I expected to see, so I ran another flamegraph to try and diagnose where the policytree algorithm is spending time when creating a depth-0 tree for a data set of 50K units.

![image](https://user-images.githubusercontent.com/50080644/199069132-565b697d

[2022-11-01 03:16] erikcs commented on #146
Thanks, yeah that is why I wanted to see the depth 0 timing, had a hunch a big speed difference arose from the sorted sets being created faster in Rust (I think algorithmically your level 1 learning should have the same amortized runtime as policytree’s, the amount of work it does should be the same)

What data structures are you using to create the sorted sets in Rust? I think (at least part of)

[2022-11-01 12:48] beniaminogreen commented on #146
Definitely looks to be the case - good catch! I am using a [BTreeMap](https://doc.rust-lang.org/std/collections/struct.BTreeMap.html) to create the sorted sets (which are converted to vectors once they have been populated with all the observations).

For each axis, I create an empty BTreeMap with X values as keys, vectors of observation indices as entries.  So a dataset that looks like this:

| Ob

[2022-11-02 03:03] erikcs commented on #146
Great, thanks! Could you please run similar benchmarks for a depth 2 tree on three X-configurations: {all binary, a handful of discrete values, dense (i.e `runif(n*p)`)}? (policytree may be to slow for too large n on the last one)

Also, if possible, (I don't have my laptop now so can't do this) could you repeat this + the depth 1 timings from above for a modified policytree where you: replace L18

[2022-11-02 14:31] beniaminogreen commented on #146
Sure - here are the benchmarks for depth-2 trees on the three datasets you describe.

For the un-changed policytree:

![image](https://user-images.githubusercontent.com/50080644/199516235-f8d13c43-cc89-4ff6-a7f6-05caad1b4cce.png)

For the policytree with the changes you described:

![image](https://user-images.githubusercontent.com/50080644/199516343-538b5efc-27e3-491c-ab1a-27416646d05f.png)

[2022-11-02 14:54] jarkki opened #148 "Hybrid policy tree prints different leaf labels than predicted leaf labels"
**Description of the bug**
Hybrid policy tree grows redundant leaf-nodes where no training data falls into.  Also, node prediction returns non-leaf nodes.

**Steps to reproduce**
[code]
When predicting,
- no training data falls into leaves 6 and 7
- non-leaf nodes 10 and 11 are predicted

**policytree version**
[code]

[2022-11-02 15:06] erikcs commented on #146
Thanks! I'd like a larger number of observations to see what's going on, could you do up to n = 100k, at least for the top plot? It could take a few hours, but I guess you have an external server? (also p = 2 and d = 2 is fine). Thanks again!

[2022-11-02 15:27] beniaminogreen commented on #146
I've been running these on my laptop, but I can put them on my server. I don't know how long they will take, but I'll set them off and report back when they have completed. The only server I can run benchmarks on has 4 cores, so it could be a few days.

[2022-11-02 23:39] erikcs commented on #146
Actually, you could leave out policytree from the benchmarks, we have roughly an idea of how long time that takes if you include an R file with benchmark details. What would be interesting to see is the Rust policytree (1 core) timing as a function of n up to 100k or more for the different X settings.

How many categories are there in the 250k depth 2 tree you mention in your first post?

[2022-11-03 00:13] beniaminogreen commented on #146
Sounds good - I've set the code running again with just the Rust implementation going. Will likely still take a few days.

The 250k observation run was based on dataset which actually had 45 columns, not 55 as I reported.  The dimensions and number of unique values in each column are below, but the columns with 141 and 173 breaks were not included.

![image](https://user-images.githubusercontent.c

[2022-11-03 03:19] beniaminogreen commented on #146
![image](https://user-images.githubusercontent.com/50080644/199641078-2bb94387-61af-4243-9bd1-a5d6c4c6002f.png)

These came back a lot quicker than I anticipated! The binary and categorical runs both finished in about 15ms each for a dataset of n=100,000, while the dense dataset took about an hour and 5 mins to run.  The benchmarking code I used can be found [here](https://gist.github.com/beniamin

[2022-11-03 05:11] njawadekar opened #149 "Policy tree - double robust scores and rewards"
In layman's terms, can you please explain the process through which the policy_tree function inputs the double_robust_scores (i.e., the Gamma.matrix from causal forest that is interpreted as rewards), and uses them to generate the rules? Are positive values or negative values considered desirable in these reward matrices? I generally would think lower or negative treatment effects would be desirab

[2022-11-03 05:13] njawadekar commented on #149
Furthermore, if someone is trying to improve the performance of their policy tree, do you have any recommendations on how to do this, besides increasing the depth of the tree (which hasn't seemed to work for me thus far).

[2022-11-03 06:16] erikcs commented on #146
Interesting, policytree takes around 15 sec for the two first ones and 11 minutes for the last.

[2022-11-03 14:06] beniaminogreen commented on #146
That is interesting. This definitely reflects my focus on the categorical / binary case in coding my version.

I bundle all the observations with the same value of a predictor together so that they can be quickly added / removed from a node as a group. If no observations share the same value of a predictor, then all the bundling code will have a significant speed cost. My guess is that this explai

[2022-11-03 23:54] erikcs commented on #146
Yes, we should consider handling repeated Xj in policytree, your package makes it clear it's very worthwhile. I'm not sure when I will get time to have a closer look though.

And I looked at your Rust code, for the sorted sets it reminds of an optional splitting rule GRF used to have. For N unique samples you are essentially maintaining a NxP array of the global sort order. When moving samples L/R

[2022-11-07 16:06] beniaminogreen commented on #146
Thanks for spelling that out for me - I thought that the array approach would always dominate the sorted sets implementation in policytree, but now I see that isn't the case.   This will definitely be something for me to think about if I keep working on my package .

Hopefully there will be a way for me to get the best of both worlds - the speed that arrays give for small / medium sizes of data wi

[2022-11-07 16:15] beniaminogreen commented on #149
Hi @njawadekar. As detailed in the [policytree documentation](https://grf-labs.github.io/policytree/reference/policy_tree.html), the policy_tree algorithm seeks to *maximize* rewards (as can be seen in the code example below).

You should be able to minimize by multiplying the doubly-robust scores by -1 before running the policytree algorithm.

[code]

[2022-11-07 19:26] njawadekar commented on #149
Thanks for the reply! This seems to have resolved my issue.

[2022-11-08 08:25] erikcs commented on #146
Yes, you can probably work out empirical N/n heuristics to switch between implementations during runtime if you really want to keep tinkering! (In these things there are practically always areas you can squeeze out more perf by identifying special cases). One small thing you could try is make your `active` array a hash table instead, that might make a small dent in speed if Rust has fast ~collisio

[2022-11-08 16:55] beniaminogreen commented on #146
Thanks for the suggestion - I've just made a branch with the hash set approach you describe, and I'll benchmark it to see which is faster. I went with the array approach originally so that the active array would be stored in a contiguous memory block, but I doubt that will offset the speed from the large array copy each time I want to split along a new axis. I'll benchmark both ways and pick the q

[2022-11-09 06:18] erikcs commented on #146
Great, maybe you could put some timings on your GH README for reference? (considering I guess you'll keep making changes you'll always have the latest timings in your repo, we don't have bandwidth to make any big changes to policytree in the near future).

[2022-11-09 15:29] beniaminogreen commented on #146
Sounds good to me - I'll run them in the next few days, then put them in the README. Should also add some more documentation for how the parallel_policy_tree function is used.

Thanks for your help,
Ben

[2022-11-10 03:59] erikcs commented on #148
Thanks for reporting this @jarkki. Ideally there's a representation indexing bug somewhere which should only affect leaf id, point predictions should be correct per [this test](https://github.com/grf-labs/policytree/blob/master/r-package/policytree/tests/testthat/test_hybrid_policy_tree.R#L8), I won't have time to look closer until a bit later. Thanks again.

[2022-11-10 06:46] erikcs commented on #146
a) When things are getting more polished, we could also add an option to policytree that would dispatch to your package depending on input type? I.e. something like:

[code]

b) On algorithmic details, your ObservationBundles are the right idea, but I can imagine you got from the timings you ran in this thread that [this](https://github.com/Yale-Medicaid/parallel_policy_tree/blob/8d574bdda356b2467

[2022-11-10 17:39] beniaminogreen commented on #146
Both those suggestions sound great to me - I would love to keep optimizing the package, and if there's a paper at the end of the process, that would be fantastic!

Once things get more stable / developed, I can definitely try and construct a heuristic to decide which is more efficient for a given solution. It would be slightly complicated by the fact that `paralell_policy_tree` is multicored, so i

[2022-11-11 21:36] erikcs commented on #146
Sounds good! Yes, we should add multithreading to policytree then as well, else it looks would look weird. Some practical considerations to keep in mind is guaranteeing same output for same input. Some settings may have many optimal trees and policytree returns the one that came first while exploring. Users will be confused if threading causes a different optimal tree to be returned.

Similar cons

[2022-11-13 23:49] erikcs commented on #148
So yes this was only hybrid policytree using different terminal node labels than what was printed. If you only care about subgroups, `preds <- predict(tree, X, type = "node.id")` will work correctly.

The printed label / predicted label mismatch is fixed in #153.

[2022-11-14 10:13] jarkki commented on #148
Thank you so much for fixing this! My use case was to represent the tree in a table format like

| leaf.id | rules | CATE | N obs |
|---------|-------|------|-------|
|         |       |      |       |

Steps to build the table were
1. Predict leaves and calculate local CATE for each leaf
2. Travel the tree and gather all splitting rules that lead to a leaf
3. Join rules and CATE by leaf index

Th

[2022-11-14 17:23] beniaminogreen commented on #146
I think that right now, because of how I implement the parallelization, I am guaranteeing same output for same input, but I'll keep an eye out as I make changes to ensure that this is the case. I parallelize the search by assigning each thread to search for the best tree that starts by splitting on a single variable, and then select the best from these. any ties are resolved by looking at the init

[2022-11-17 05:27] erikcs commented on #146
a) sounds good! Different compilers on different OS's sometimes produce different result. Also, different OS users may face different installation hassles, I tried installing the package on stanford's linux HPC and it failed with a Rust linking error. Maybe this is something your GH actions could try and catch with a larger build matrix, + give additional assurance tests pass across different OS's

[2022-11-17 06:08] erikcs commented on #146
PS: I think your package in its current from already seem very useful. The algo suggestion above could be more of a longer term project if you are interested in keeping working on your package.

A more actionable near term thing we could do is add the following option to policytree:

[code]

where if installed, solver = "parallel_policy_tree" would just call directly into a fit method in that pack

[2022-11-19 02:10] erikcs commented on #148
Just a heads up @jarkki, I changed the fix to this in #156 by instead just renaming the hybrid tree's leaf id's s.t. they are level-first, which is the same as rest of policytree. Now `policy_tree` and `hybrid_policy_tree` will give you the same node "labels".

[2022-11-20 03:47] #148 closed, assigned to nobody

[2022-11-21 16:04] beniaminogreen commented on #146
Gotcha, I see what you mean about "asymptotically optimal," and I think I understand what you mean about implementing the same strategy as policytree but with observation bundles. I did something similar to this in the original prototype of the package, and I think that it might still be archived in the git history so I'll try and pull it out / bring it back to life for some benchmarking.

Histori

[2022-11-22 20:38] erikcs commented on #146
For now I think it would already be helpful if just `sparse_policy_tree` had the same signature as `policy_tree`, it doesn't matter if your `min.node.size` doesn't do anything as long as it's documented, then users can just try out your package as a drop-in replacement doing search-and-replace policytree with sparse_policy_tree. Having that workflow work would already go a long way!

Then internal